.user-dropdown .dropdown-menu {
    margin-left: -100px;
}

.icon {
    margin-bottom: 5px;
}

.maintain_gap {
    padding: 72px 0 72px 0;
}

.big-btn {
    width: 185px;
}

.middle-btn{
    width: 150px;
}

.small-btn {
    width: 102px;
}

.carousel-inner .carousel-item img {
    height: 570px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    visibility: hidden;
}

.brand_img {
    object-fit: fill;
    height: 230px;
    width: 230px;
    border-radius: 7px;
    transition: all .5s ease-in-out;
}

.brand_img:hover {
    transform: scale(1.05);
    border: 3px solid aquamarine;
}

.form-50 {
    width: 50%;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 7px;
}

.w-60{
    width: 60%;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 7px; 
}

.text-small {
    font-size: 14px;
}

.search-bar,
.sort-dropdown {
    max-width: 250px;
}

.searching-sorting input:focus,
.searching-sorting select.form-select {
    outline: none;
    box-shadow: none;
    border-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-img{
    height: 300px;
}

.profile-box {
    border-radius: 10px;
    border: 2px solid #000;
}

.profile-box .p-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.profile-box .p-title {
    font-size: 18px;
    font-weight: 500;
}

.product-control .product_btn {
    width: 120px;
    font-size: 14px;
}

.breadcrumb-item a {
    text-decoration: none;
}

.small-text {
    font-size: 13px;
}

.admin-product-price,
.admin-product-stock,
.admin-product-brand{
    width: 8%;
}

.admin-product-pic{
    height: 60px;
    border-radius: 5px;
}

.admin-product-rating{
    width: 10%;
}

.instruction-box{
    border-radius: 10px;
    border: 2px solid #000;
    max-width: 60%;
}

.instruction-box .ins-img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
}

.instruction-box .ins-img img{
    border-radius: 10px;
}

.product-carousel-img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.product-price .price-discount {
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    font-weight: 500;
    font-size: 20px;
    background-color: red;
}

.product-price .original-price {
    margin: 0;
    font-size: 30px;
}

.border-box{
    border: 2px solid #000;
    padding: 35px;
    border-radius: 7px;
}

.product-review .rev-details {
    display: flex;
    justify-content: space-between;
}

.star-icon {
    color: orange;
}

.category-description{
    width: 80%;
}

.category-img{
    height: 300px;
    object-fit: cover;
}

.category-desc{
    width: 70%;
}

.category-details-img{
    width: 200px;
    height: 200px;
}

.cart-row {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 7px;
}

.cart-product-img {
    height: 250px;
}

.order_condition{
    color: red;
    font-size: 12px;
}

.quantity-btn {
    border: #000 1px solid;
    min-width: 100px;
    border-radius: 7px;
    background-color: #fff;
    color: #fff;
}

.quantity-btn-1,
.quantity-btn-3 {
    border: #000 1px solid;
    width: 40px;
}

.cart-delete-btn {
    height: 40px;
    width: 100px;
    line-height: 40px;
}

.card-title a{
    text-decoration: none;
    color: #000;
}

.checkout-card {
    margin-bottom: 80px;
}

.input-error {
    color: red;
    font-size: 12px;
}

.no-cat-img {
    border-radius: 7px;
    height: 250px;
}

.user-row .user-profile-pic{
    height: 60px;
    border-radius: 5px;
}

.hidden{
    display: none;
}

.order-details{
    border: 2px solid #000;
    border-radius: 5px;
}

.orderImg{
    width: 200px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.order-product-title a{
    text-decoration: none;
    color: #000;
}

.payment_img{
    width: 200px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.footer-section {
    text-align: center;
    background-color: #f8f9fa;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}